<div class="offset-s9">
  <button class="waves-effect btn z-depth-3" value="Logout" ng-click="Logout()">Logout</button>
</div>
<br/>
<h1> Hi {{username}} </h1>

<br/>

<div class="offset-s9">
  <button class="btn btn-large waves-effect waves-light red z-depth-5" value="View" ng-click="ViewUsers()">View Users</button>
</div>

<br/>

<div ng-repeat="users in allusers">
  <h5> {{users.username + ' ' + users.date_approved + ' '}} </h5>
  <br/>
</div>

<br/>

<div class="offset-s9">
  <button class="btn btn-large waves-effect waves-light red z-depth-5" value="View" ng-click="ViewUnapproved()">View Unapproved</button>
</div>

<br/>

<div ng-repeat="user in unapproved">
  <h5> {{user.username}} </h5>
  <button class="btn btn-small waves-effect waves-light red z-depth-5" value="Approve" ng-click="Approve(user, user.username, username)">Approve</button>
  <br/>
</div>

<br/>

<div class="offset-s9">
  <button class="btn btn-large waves-effect waves-light red z-depth-5" value="View" ng-click="ViewSongs()">View Songs</button>
</div>

<br/>

<div ng-repeat="song in songs">
  <h5> {{song.song_name}} </h5>
  <h5> {{song.artist_name}} </h5>
  <h5> {{song.album}} </h5>
  <h5> {{song.track_length}} </h5>
  <h5> {{song.times_played}} </h5>
  <br/>
</div>
