  <h1 class="col s3"> Hi {{username}} </h1>

  <br/>
  <form action="/upload" method="POST" enctype="multipart/form-data" accept="audio/*">
    <h3>Upload</h3><input type="file" name="music"><br>
    <h3>Artist</h3><input type="text" name="artist"><br>
    <input type="submit" value="Upload"><br/>
  </form>

  <br/>
  <div class="offset-s9">
    <button class="waves-effect btn z-depth-3" value="Logout" ng-click="Logout()">Logout</button>
  </div>
  <br/>
  <div class="offset-s9">
    <button class="waves-effect btn z-depth-3" value="View" ng-click="ViewTopSongs()">View Top Songs</button>
  </div>

  <br/>

  <div ng-repeat="songi in tsongs">
    <h5> {{songi.song_name +" - " + songi.artist_name + " - " + songi.times_played}}</h5>
    <br/>
  </div>
    <br/>

    <div class="offset-s9">
      <button class="waves-effect btn z-depth-3" value="View" ng-click="ViewPlaylist()">View Playlists</button>
    </div>

    <br/>

    <div ng-repeat="playlist in playlists">
      <h5> {{playlist.playlist_name + " - " + playlist.username}}
        <button class="waves-effect btn z-depth-3" ng-if="playlist.username == username" ng-click="DeletePlaylist(playlist.playlist_number, playlist)">delete</button>
        <button class="waves-effect btn z-depth-3" ng-click="ViewSongs(playlist.playlist_number)">Add Song</button>
        <button class="waves-effect btn z-depth-3" ng-click="ViewPlaylistContent(playlist.playlist_number)">View</button>
      </h5>
      <br/>
    </div>

    <br/>
    <h3>Songs</h3>
    <div ng-repeat="song in songs">
      <h5> {{song.song_name + ' - ' + song.album + ' - ' + song.artist_name}} <button class="waves-effect btn z-depth-3" ng-click="AddToPlaylist(song, selectedPlaylist)">Add</button></h5>
      <br/>
    </div>
      <br/>

    <br/>
    <h3>Content</h3>
    <div ng-repeat="each in content">
      <h5> {{each.song_name}} <button class="waves-effect btn z-depth-3" ng-if="each.username == username" ng-click="RemoveFromPlaylist(each,each.song_number)">Remove</button></h5>
      <br/>
    </div>
      <br/>


      <br/>

  <div class="offset-s9">
    <form ng-submit="CreatePlaylist(username)" method="POST">
      <h3>Playlist name</h3><input type="text" name="playlist" ng-model="playlist"><br>
      <input type="submit" value="Create"><br/>
    </form>
  </div>
  <br/>
  <br/>
  <div class="offset-s9">
    <form ng-submit="Search()" method="POST">
      <h3>Search</h3><input type="text" name="search" ng-model="query"><br>
      <input type="submit" value="Search"><br/>
    </form>
  </div>

  <br>

  <div ng-repeat="result in results">
    <h5> {{result.song_name +" - " + result.artist_name + " - " + result.times_played}}</h5>
    <br/>
  </div>
    <br/>

    <audio controls="">
      <source src="99c6362647295006acc374aa7a3302c9" type="audio/mpeg">
    </audio>
